<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirtualDyno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="VirtualDyno.Columns" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <userSettings>
    <VirtualDyno.Properties.Settings>
      <setting name="File_Profiles" serializeAs="String">
        <value>profiles.xml</value>
      </setting>
      <setting name="File_ColumnNames" serializeAs="String">
        <value>columnnames.xml</value>
      </setting>
      <setting name="File_GraphSettings" serializeAs="String">
        <value>graphsettings.xml</value>
      </setting>
      <setting name="File_Dynos" serializeAs="String">
        <value>VirtualDyno.XMLs.dynos.xml</value>
      </setting>
      <setting name="MAX_LOADED_RUNS" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MIN_SMOOTHING" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MAX_SMOOTHING" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="SMOOTHING_MULTIPLIER" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RPM_TRIM_WINDOW" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DONATE_URL" serializeAs="String">
        <value>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KHEKM6EDA8GGW</value>
      </setting>
      <setting name="Color_Light" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="Color_Medium" serializeAs="String">
        <value>153, 204, 255</value>
      </setting>
      <setting name="Color_Dark" serializeAs="String">
        <value>0, 131, 215</value>
      </setting>
      <setting name="File_CarsVersion" serializeAs="String">
        <value>Cars\carsversion.xml</value>
      </setting>
      <setting name="Error_FTPUsername" serializeAs="String">
        <value>virtualdyno</value>
      </setting>
      <setting name="Error_FTPPassword" serializeAs="String">
        <value>1virtualdyno</value>
      </setting>
      <setting name="File_Registration" serializeAs="String">
        <value>registration.xml</value>
      </setting>
      <setting name="Error_FTPLocation" serializeAs="String">
        <value>ftp://www.virtualdyno.net/ErrorReports</value>
      </setting>
      <setting name="GoogleAnalytics_InstallationId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="PATREON_URL" serializeAs="String">
        <value>https://www.patreon.com/bePatron?c=1596824</value>
      </setting>
      <setting name="COLUMN_URL_SUFFIX" serializeAs="String">
        <value>/public/columnnames.xml</value>
      </setting>
      <setting name="CARSVERSION_URL_SUFFIX" serializeAs="String">
        <value>/public/carsversion.xml</value>
      </setting>
      <setting name="VERSION_URL_SUFFIX" serializeAs="String">
        <value>/public/version.xml</value>
      </setting>
      <setting name="SETTINGS_URL_BASE" serializeAs="String">
        <value>https://www.virtualdyno.net</value>
      </setting>
    </VirtualDyno.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.8.0" newVersion="5.1.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>